<main>
  <nav
    class="bg-purple-600 text-white px-8 py-3 flex justify-between items-center shadow-md"
  >
    <!-- Left: Logo + Brand -->
    <div class="flex items-center space-x-2">
      <!-- Check Icon -->
      <i class="fa-solid fa-list-check"></i>
      <span class="font-semibold text-lg">TaskSchedule</span>
    </div>

    <!-- Center: Menu -->
    <div class="hidden md:flex space-x-8 text-sm font-medium">
      <a
        routerLink="home"
        routerLinkActive="opacity-100"
        class="text-white opacity-80 hover:opacity-100 transition"
        >Home</a
      >
      <!-- <a
        routerLink="dashboard"
        routerLinkActive="opacity-100"
        class="text-white opacity-80 hover:opacity-100 transition"
        >Dashboard</a
      > -->
      <a
        routerLink="tasks"
        routerLinkActive="opacity-100"
        class="text-white opacity-80 hover:opacity-100 transition"
        >Tasks</a
      >
      <a
        routerLink="goals"
        routerLinkActive="opacity-100"
        class="text-white opacity-80 hover:opacity-100 transition"
        >Goals</a
      >
      <!-- <a
        routerLink="reminders"
        routerLinkActive="opacity-100 text-gray-800"
        class="text-white opacity-80 hover:opacity-100 transition"
        >Reminders</a
      > -->
    </div>

    <!-- Right: Login button -->
    @if (!userInfo) {
    <button
      (click)="toggleModal()"
      class="flex items-center border border-white rounded-md px-4 py-1 text-white hover:bg-white hover:text-purple-600 transition gap-2"
    >
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
      Login
    </button>

    } @else {
    <div class="flex justify-between items-center gap-2">
      <span>Hi, {{ userInfo.fullName }} </span>
      <button
        (click)="handleLogout()"
        class="flex items-center border border-white rounded-md px-4 py-1 text-white hover:bg-white hover:text-purple-600 transition gap-2"
      >
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        Log out
      </button>
    </div>
    }
  </nav>

  @if (isUserLogged()) {
  <router-outlet />

  } @if (isModalOpen()) {
  <div
    class="none fixed inset-0 bg-white/5 backdrop-blur-md flex items-center justify-center z-50"
  >
    <!-- Modal -->
    <div class="bg-white rounded-2xl shadow-xl w-96 relative p-6 z-100">
      <!-- Close Button -->
      <button
        (click)="toggleModal()"
        class="absolute top-3 right-3 text-gray-500 hover:text-red-500 transition"
      >
        <i class="fa-solid fa-xmark text-xl"></i>
      </button>

      @if (isLoginForm()) {
      <!-- Header -->
      <div class="text-center mb-6">
        <i class="fa-solid fa-user-circle text-5xl text-purple-600 mb-2"></i>
        <h2 class="text-2xl font-bold text-gray-800">Welcome Back!</h2>
        <p class="text-gray-500 text-sm">Login to your TaskSchedule account</p>
      </div>
      <!-- Form Login -->
      <form class="space-y-4">
        <div class="relative">
          <i
            class="fa-solid fa-envelope text-gray-400 absolute left-3 top-3.5"
          ></i>
          <input
            type="email"
            placeholder="Email"
            name="email"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:outline-none"
            [(ngModel)]="loginPayload.emailId"
          />
        </div>

        <div class="relative">
          <i class="fa-solid fa-lock text-gray-400 absolute left-3 top-3.5"></i>
          <input
            type="password"
            placeholder="Password"
            name="password"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:outline-none"
            [(ngModel)]="loginPayload.password"
          />
        </div>

        <div class="flex items-center justify-between text-sm">
          <label class="flex items-center space-x-2">
            <input type="checkbox" class="text-purple-600 focus:ring-0" />
            <span>Remember me</span>
          </label>
          <a class="text-purple-600 hover:underline">Forgot password?</a>
        </div>

        <button
          type="button"
          class="w-full bg-purple-600 text-white py-2 rounded-md hover:bg-purple-700 transition font-medium"
          (click)="handleLogin()"
        >
          <i class="fa-solid fa-right-to-bracket mr-2"></i> Login
        </button>

        <!-- Footer -->
        <div class="mt-6 text-center text-sm text-gray-500">
          Don’t have an account?
          <a class="text-purple-600 hover:underline" (click)="toggleForm()"
            >Sign up</a
          >
        </div>
      </form>

      } @else {
      <!-- Form Signup -->
      <div class="text-center mb-6">
        <i class="fa-solid fa-user-circle text-5xl text-purple-600 mb-2"></i>
        <p class="text-gray-500 text-sm">Sign Up your TaskSchedule account</p>
      </div>
      <form class="space-y-4">
        <div class="relative">
          <i class="fa-solid fa-info text-gray-400 absolute left-3 top-3.5"></i>
          <input
            type="text"
            placeholder="Full Name"
            name="fullName"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:outline-none"
            [(ngModel)]="registerPayload.fullName"
          />
        </div>
        <div class="relative">
          <i
            class="fa-solid fa-envelope text-gray-400 absolute left-3 top-3.5"
          ></i>
          <input
            type="email"
            placeholder="Email"
            name="email"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:outline-none"
            [(ngModel)]="registerPayload.emailId"
          />
        </div>

        <div class="relative">
          <i class="fa-solid fa-lock text-gray-400 absolute left-3 top-3.5"></i>
          <input
            type="password"
            placeholder="Password"
            name="password"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:outline-none"
            [(ngModel)]="registerPayload.password"
          />
        </div>
        <div class="relative">
          <i
            class="fa-solid fa-mobile text-gray-400 absolute left-3 top-3.5"
          ></i>
          <input
            type="text"
            placeholder="Mobile Number"
            name="mobileNo"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:outline-none"
            [(ngModel)]="registerPayload.mobileNo"
          />
        </div>

        <button
          type="button"
          class="w-full bg-purple-600 text-white py-2 rounded-md hover:bg-purple-700 transition font-medium"
          (click)="handleRegister()"
        >
          <i class="fa-solid fa-right-to-bracket mr-2"></i> Sign Up
        </button>

        <!-- Footer -->
        <div class="mt-6 text-center text-sm text-gray-500">
          Already have an account?
          <a class="text-purple-600 hover:underline" (click)="toggleForm()"
            >Login in</a
          >
        </div>
      </form>
      }
    </div>
  </div>
  }
</main>
